<!DOCTYPE html>
<html>
<head>
  <title>Signup Error</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
  <h1>login Error</h1>
  <p><%= error %></p>
  <a href="/">Go back to login page</a>
</body>
</html>
