<!DOCTYPE html>
<html>
<head>
  <title>Signup Success</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
  <h1>Signup Success</h1>
  <p><%= message %></p>
  <a href="/">Go to login page</a>
</body>
</html>
